.stars {
    display: flex;
    flex-direction: column;
    justify-content: center;
   padding: 100px 90px 80px 90px;
    background: #FFEEAD;
}

.stars__list {
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;
    padding-bottom: 24px;
    list-style-type: none;
}