.about {
    position: relative;
    padding: 160px 90px;
    padding-right: 540px;
    background-color: #FFF6D9;
}

.about::before {
position: absolute;
right: 7%;
content: "";
width: 446px;
height: 446px;
background-image: url(../../../images/about.png), url("../../../images/about_back.png");
background-repeat: no-repeat;
}

.about__wrapper {
    min-width: 650px;
    display: flex;
    flex-direction: column;
}

.about__description {
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    color: #333333;
}

.about__time {
    align-self: flex-start;
    margin: 0;
    padding: 8px;
    background: #FFEEAD;
    border-radius: 8px;
}

.about__addres {
    position: relative;
    padding-left: 20px;
}

.about__addres::before {
position: absolute;
left: 0;
content: "";
width: 16px;
height: 16px;
background-image: url("../../../images/flag.svg");
}